h1 {
  display: inline;
  position: relative;
  margin: 10px;
  width: 100%;
  text-align: left;
  color: darkorange;
  font-size: 25px;
  font-weight: bold;
}

p {
  color: dimgray;
  position: relative;
  display: block;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  margin: 10px;
}
